<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> MY POTFOLIO</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"> </script>
  <style>
    .navigation{
      position: sticky;
      top: 0;
      z-index: 100;
    }
  </style>
</head>
<body>

  <!-- Navigation Bar -->
  <div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#about  ">About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="../templates/snake.html"> Game </a>
          
      </li>
        
          
          
          

        
        
      </ul>
    </div>
  </nav>
</div>

  <!-- image and short intro-->
  <div class="container-fluid p-5 bg-dark text-white text-center">
    <img src="../assets/img/IMG_2274.JPG" height="240" width="240" class="rounded-circle">
      <h4 style="color: yellow;">Chheten Dorje Sherpa</h4> 
    <a target="_blank" href="https://www.facebook.com/cheten.sherpa.925/">    <img src="../assets/img/facebbok.svg" height="30" width="30">
    
    
</a>
    <a target="_blank"  href="https://www.instagram.com/"> <img src="../assets/img/insta.svg" height="30" width="30">
    </a>
  </div>

<!--About Section-->
<div class="container mt-5">
  <h2 id="about"> ABOUT MYSELF</h2>
  <marquee direction="right" bgcolor="7fffd4"> <h2>  My-Imformation</h2> </marquee>
  <font size="5">
    <font size="5"> <font style="color: ff55a3;">I'm Chheten dorje sherpa.im currently living at gokhrana ,budhhachowk.i wanna be software enginneer in my future. i like learning new things in 
    internet.i just finished my(SEE) from east-pole secondary school .rightnow im taking computer(basic-class) & i really enjoying it to learn manny manny new things.im 16 years old . i waanna work in IT-Field. </font> </font>
  </font>
 </div>


  <!--Academic History Section-->
  <div class="container mt-5">
    <marquee direction="right" bgcolor="7fffd4"> <h2>Academic History</h2> </marquee>
    <div class="row">

      <div class="col-lg-4 d-flex algin-items-items-stretch">
        <div class="card border secondary mb-3" style="max-width: 18rem; background-color:skyblue;">
          <div class="card-header"><h5 class="card-title"> Basic Level Examination (BLE)</h5> </div>
          <div class="card-body text-seondary">
              <font style="color: blue;"><p class="card text"> I passed my(BLE) in 2076.i secured A in my examination. i did well and i changed my school & i went to east-pole secondary school.i did well.</p> </font>
            <img src="../assets/img/imge.JPG" height="250" width="200">
          </div>
        </div>
      </div>


       
        <div class="col-lg-4 d-flex algin-items-items-stretch">
        <div class="card border secondary mb-3" style="max-width: 18rem; background-color:skyblue; ">
          <div class="card-header"><h5 class="card-title"> Secondary Education Examination (SEE) </h5> </div>
          <div class="card-body text-seondary">
             <font style="color: red;"><p class="card-text"> up-comming information..... </p> </font>
          </div>
        </div>
      </div>

      
      <div class="col-lg-4 d-flex algin-items-items-stretch">
        <div class="card border secondary mb-3" style="max-width: 18rem; background-color:skyblue;">
          <div class="card-header"><h5 class="card-title"> Computer Course (CC) </h5> </div>
          <div class="card-body text-seondary">
            <font style="color:purple;"> <p class="text"> It's being a month that i started taking computers class at kl-tower (kathalaya-institue) by <b> Rabin bishwakarma  sir🧑🏻‍🏫</b>.i really enjoying leraning it new things everyday. till now i have learned hrml,power-point,excel documents this chapter was exciting .which i really enjoy when i did project on this topics. In my opinion i did my best on this projet. recently i keep in  leraning potfolio . 
            </p>
          </font>
          </div>
        </div>
      </div>
    </div>
  </div>
    




      <!-- Contact Form -->
      <div class="container">
        <h2 id="contact"> CONTACT ME</h2>
        <marquee direction="right" bgcolor="7fffd4">  <h2>Contact Me</h2> </marquee>
          <div class="row">
              <div class="col-md-8">
                  <div class="well well-sm">
                    <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                              </div>
                              <div class="form-group">
                                  <label for="email"> Email Address</label>
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                              </div>
                              <div class="form-group">
                                  <label for="subject">Subject</label>
                                  <select id="subject" name="subject" class="form-control" required="required">
                                      <option value="na" selected="">Choose One:</option>
                                      <option value="service">Job Offer</option>
                                      <option value="suggestions">Suggestions</option>
                                      <option value="product">Scholarship</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Message</label>
                                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="col-md-4">
                <form>
                  <legend><span class="glyphicon glyphicon-globe"></span> Adress</legend>
                  <address>
                      <strong>Kathalaya Institute</strong><br>
                      Nepal,provience-3<br>
                      kathmandu,chabahill,<br>
                      <abbr title="Phone">Phn:</abbr>
                      9808429355
                  </address>
                  <address>
                      <strong>Full Name</strong><br>
                      <a href="mailto:#">chhetensherpa64@gmail.com</a>
                  </address>
                </form>
              </div>
          </div>
      </div>





      <!--Footer-->
      <footer class="page-footer font-small dark" style="text-align: center;">

        <!--Copyright-->
        <div  class="footer-copyright text-center py-3">Ⓒ 2022 Copyright:
          <a href="/"> Chheten Dorje Sherpa </a>
        </div>
           <!--Copyright-->

      </footer>

    </body>
    </html>

    



            
 
